In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

In [6]:
#Normalization
from sklearn.preprocessing import MinMaxScaler

In [7]:
m = MinMaxScaler(feature_range=(0,1))

In [8]:
ms = m.fit(df[['Marketing Spend']])

In [9]:
ms

MinMaxScaler()

In [10]:
df['Marketing Spend'] = ms.transform(df[['Marketing Spend']])

In [11]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617       136897.80  471784.10    Dhaka  192261.83
1         0.983359       151377.59  443898.53      Ctg  191792.06
2         0.927985       101145.55  407934.54  Rangpur  191050.39
3         0.873136       118671.85  383199.62    Dhaka  182901.99
4         0.859438        91391.77  366168.42  Rangpur  166187.94

In [12]:
df['Administration'] = m.fit_transform(df[['Administration']])

In [13]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744  471784.10    Dhaka  192261.83
1         0.983359        0.761972  443898.53      Ctg  191792.06
2         0.927985        0.379579  407934.54  Rangpur  191050.39
3         0.873136        0.512998  383199.62    Dhaka  182901.99
4         0.859438        0.305328  366168.42  Rangpur  166187.94

In [14]:
df['Transport'] = m.fit_transform(df[['Transport']])

In [15]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

In [16]:
#Standardization
from sklearn.preprocessing import StandardScaler

In [17]:
scaler = StandardScaler()

In [18]:
scaler

StandardScaler()

In [19]:
df[['Marketing Spend']] = scaler.fit_transform(df[['Marketing Spend']])

In [20]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.651744   1.000000    Dhaka  192261.83
1         1.955860        0.761972   0.940893      Ctg  191792.06
2         1.754364        0.379579   0.864664  Rangpur  191050.39
3         1.554784        0.512998   0.812235    Dhaka  182901.99
4         1.504937        0.305328   0.776136  Rangpur  166187.94

In [21]:
df[['Administration']] = scaler.fit_transform(df[['Administration']])

In [22]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   1.000000    Dhaka  192261.83
1         1.955860        1.082807   0.940893      Ctg  191792.06
2         1.754364       -0.728257   0.864664  Rangpur  191050.39
3         1.554784       -0.096365   0.812235    Dhaka  182901.99
4         1.504937       -1.079919   0.776136  Rangpur  166187.94

In [23]:
df[['Transport']] = scaler.fit_transform(df[['Transport']])

In [24]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

In [25]:
#Robust Scaler
from sklearn.preprocessing import RobustScaler

In [26]:
rob = RobustScaler()

In [27]:
rob

RobustScaler()

In [28]:
df[['Marketing Spend']] = rob.fit_transform(df[['Marketing Spend']])
df[['Administration']] = rob.fit_transform(df[['Administration']])
df[['Transport']] = rob.fit_transform(df[['Transport']])

In [29]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94

In [30]:
#Max Absolute Scaler
from sklearn.preprocessing import MaxAbsScaler

In [31]:
sc = MaxAbsScaler()

In [32]:
sc

MaxAbsScaler()

In [33]:
df[['Marketing Spend']] = sc.fit_transform(df[['Marketing Spend']])
df[['Administration']] = sc.fit_transform(df[['Administration']])
df[['Transport']] = sc.fit_transform(df[['Transport']])

In [34]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.449332        0.198805   1.000000    Dhaka  192261.83
1         0.970189        0.401556   0.891559      Ctg  191792.06
2         0.870987       -0.301810   0.751702  Rangpur  191050.39
3         0.772728       -0.056401   0.655513    Dhaka  182901.99
4         0.748187       -0.438385   0.589283  Rangpur  166187.94